<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'thankyou' %}" method="POST">
        {% csrf_token %}
            <label for="">Name</label>
            <input type="text" name="name" id=""><br>
            <label for="">City</label>
            <input type="text" name="name" id=""><br>
            <label for="">Phone No</label>
            <input type="text" name="name" id=""><br>
            <button type="submit">Submit</button>
        
    </form>
</body>
</html>